{
  "env": {
    "browser": false,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/all",
    "plugin:security/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "createDefaultProgram": true,
    "ecmaVersion": 2020,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "security",
    "promise",
    "unicorn",
    "no-null",
    "simple-import-sort",
    "sort-keys-fix",
    "sort-destructure-keys",
    "sort-class-members",
    "jest",
    "tsdoc"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "arrow-parens": ["error", "always"],
    "import/order": "off",
    "no-null/no-null": "error",
    "simple-import-sort/sort": "error",
    "sort-class-members/sort-class-members": [
      "error",
      {
        "accessorPairPositioning": "getThenSet",
        "order": [
          "[static-properties]",
          "[static-methods]",
          "[properties]",
          "[conventional-private-properties]",
          "constructor",
          "[methods]",
          "[conventional-private-methods]"
        ]
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": "error",
    "sort-imports": "off",
    "sort-keys-fix/sort-keys-fix": "error",
    "tsdoc/syntax": "error"
  }
}
