dist
!www/favicon.ico
www
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.stencil
.idea
.sass-cache
.versions
node_modules
$RECYCLE.BIN
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
nbproject
.buildpath
.idea
.project
.settings
.vs
.vscode
composer.lock
*.swp
*.swo
node_modules
.node_modules
package-lock.json
*.log
.versions
lib